! Base16 {{scheme-name}}
! Scheme: {{scheme-author}}

# ====================CONFIG THIS =============================== #
COLOR_01="#{{base00-hex}}"          # HOST
COLOR_02="#{{base01-hex}}"          # SYNTAX_STRING
COLOR_03="#{{base02-hex}}"          # COMMAND
COLOR_04="#{{base03-hex}}"          # COMMAND_COLOR2
COLOR_05="#{{base04-hex}}"          # PATH
COLOR_06="#{{base05-hex}}"          # SYNTAX_VAR
COLOR_07="#{{base06-hex}}"          # PROMP
COLOR_08="#{{base07-hex}}"          #

COLOR_09="#{{base08-hex}}"          #
COLOR_10="#{{base09-hex}}"          # COMMAND_ERROR
COLOR_11="#{{base0A-hex}}"          # EXEC
COLOR_12="#{{base0B-hex}}"          #
COLOR_13="#{{base0C-hex}}"          # FOLDER
COLOR_14="#{{base0D-hex}}"          #
COLOR_15="#{{base0E-hex}}"          #
COLOR_16="#{{base0F-hex}}"          #

BACKGROUND_COLOR="#{{base00-hex}}"  # Background Color
FOREGROUND_COLOR="#{{base05-hex}}"  # Text
CURSOR_COLOR="$FOREGROUND_COLOR" # Cursor
# =============================================================== #
