# Base16 {{scheme-name}}
# Scheme: {{scheme-author}}

# ====================CONFIG THIS =============================== #
COLOR_01="#{{base00-hex}}"          # HOST
COLOR_02="#{{base08-hex}}"          # SYNTAX_STRING
COLOR_03="#{{base0B-hex}}"          # COMMAND
COLOR_04="#{{base0A-hex}}"          # COMMAND_COLOR2
COLOR_05="#{{base0D-hex}}"          # PATH
COLOR_06="#{{base0E-hex}}"          # SYNTAX_VAR
COLOR_07="#{{base0C-hex}}"          # PROMP
COLOR_08="#{{base05-hex}}"          #

COLOR_09="#{{base02-hex}}"          #
COLOR_10="#{{base08-hex}}"          # COMMAND_ERROR
COLOR_11="#{{base0B-hex}}"          # EXEC
COLOR_12="#{{base0A-hex}}"          #
COLOR_13="#{{base0D-hex}}"          # FOLDER
COLOR_14="#{{base0E-hex}}"          #
COLOR_15="#{{base0C-hex}}"          #
COLOR_16="#{{base07-hex}}"          #

BACKGROUND_COLOR="#{{base00-hex}}"  # Background Color
FOREGROUND_COLOR="#{{base07-hex}}"  # Text
CURSOR_COLOR="$FOREGROUND_COLOR" # Cursor
# =============================================================== #
